//@import "bem";

$cabecera-bg: #f2f2f2;
$cabecera-text-color: #333;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}

.header {
  display: inline-block;
  background-color: #ffffff;
  min-width: 375px;
  min-height: 70px;
  padding: 1em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);

  &__logo {
    display: inline-block;
  }
  &__button {
    background-color: transparent;
    border: none;
    float: right;
  }
  &__svg {
    background-color: transparent;
    border: none;
    width: 2em;
    height: 2em;
  }
  &__nav {
    display: none;
  }
}

.banner {
  display: block;
  &__div {
    max-width: 375px;
    text-align: center;
  }

  &__title {
    margin: 1em;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    display: inline-block;
    max-width: 375px;
  }
  &__subtitle {
    padding-left: 40px;
    padding-right: 40px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  }

  &__button {
    margin-top: 50px;
    font-family: "Open Sans";
    color: #ffffff;
    min-width: 310px;
    min-height: 67px;
    border: none;
    font-family: "Open Sans";
    background-color: #08a6e4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
  }

  &__img {
    padding-top: 10%;
    width: 779px;
    height: 267px;
    margin-left: -201.5px;
    top: 434px;
  }
}

.platform {
  display: block;
  align-items: center;
  align-content: center;
  &__div {
    max-width: 375px;
  }

  &__title {
    padding: 30px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
  }
}
