//@import "bem";

$cabecera-bg: #f2f2f2;
$cabecera-text-color: #333;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}

.header {
  display: inline-block;
  background-color: #ffffff;
  min-width: 375px;
  min-height: 70px;
  padding: 1em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);

  &__logo {
    display: inline-block;
  }
  &__button {
    background-color: transparent;
    border: none;
    float: right;
  }
  &__svg {
    background-color: transparent;
    border: none;
    width: 2em;
    height: 2em;
  }
  &__nav {
    display: none;
  }
}

.banner {
  display: block;
  &__div{
    max-width: 375px;
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    
  }

  &__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    display: inline-block;
    max-width: 375px;
     
  }
  &__subtitle{
    
  }

  &__button {
    background-color: #08a6e4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
  }
}
